body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
div.col-md-9 h1:first-of-type {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
}
div.col-md-9 p:first-of-type {
    text-align: center;
}
table{
    width: 100%;
    margin-bottom: 20px;
}
table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
p{
    text-indent: 2em;
}
@media (max-width: 1299px){
    .navbar-toggle {
    display: block;
    }
    .navbar-collapse.collapse {
    display: none!important;
    }
    .navbar-header {
    float: none;
    }
    .navbar-nav,.navbar-nav>li{
    float: none;
    }
    .navbar-collapse.in {
    overflow-y: auto!important;
    }
    .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #fff;
    background-color: #97310e;
    }
}