footer span{
	color: #333;
}
.index{
	position: fixed !important;
}
.m3{
	min-height: 1px;
}
h1{
    font-size: 60px;
}
h2,h3{
    font-size: 40px;
}
.disabled{
    cursor: not-allowed;
}
div.col.s12.m9 ul li{
    list-style-type: disc;
    margin-left: 40px;
}
div.col.s12.m9 h1:first-of-type {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
}

div.col.s12.m9 p:first-of-type {
    text-align: center;
}

div.col.s12.m9 p.admonition-title:first-of-type {
    text-align: left;
}

div.col.s12.m9 h1:first-of-type .headerlink {
    display: none;
}

div.col.s12.m9 p{
    text-indent: 2em;
}
@media only screen and (min-width : 1200px) {
  .container {
    width: 80%; } }

@media only screen and (min-width : 993px) {
.container {
  width: 90%; } }